# Віртуальне середовище
venv/
ENV/
env/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# Налаштування IDE
.idea/
.vscode/
*.swp

# Тимчасові файли ОС
.DS_Store
Thumbs.db

# Логи та динамічні дані
*.log
*.sqlite